.games {
  display: grid;
  padding-bottom: 50px;
}

.games .text {
  justify-self: center;
  text-align: center;
  padding: 60px 0px;
}

.games .text h1 {
  font-size: 3rem;
  text-shadow: 3px 3px #551a8b;
  color: #ff1adf;
  font-family: "VCR OSD Mono";
  margin-bottom: 12px;
}

.games .text p {
  font-size: 1.2rem;
  color: white;
  text-shadow: 3px 3px #000;
  font-family: "VCR OSD Mono";
}

.gamesContent ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 0px;
}

.gamesContent ul li {
  height: inherit;
}

.gamesContent ul li picture {
  height: inherit;
}

.gamesContent ul li img {
  width: 10em;
  object-fit: cover;
  min-height: 170px;
  margin-bottom: 8px;
}

.gameMemoria {
  display: grid;
  justify-items: center;
}

.gameMemoria picture {
  cursor: pointer;
}

.gamesContent span {
  color: #fff;
  text-shadow: 3px 3px #000;
  font-family: "VCR OSD Mono";
}

.gameMemoria img {
  background: #551a8b;
  padding: 8px;
  border-radius: 5px;
}
