body {
  background: rgb(14, 15, 15);
  display: grid;
  grid-template-rows: 100px 1fr;
}

.introducao-bg {
  display: grid;
  background: rgb(17, 17, 17);
}

.introducao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #ff1adf;
  justify-self: center;
  text-align: center;
  align-self: center;
}

.introducao h1 {
  text-shadow: 3px 3px #551a8b;
  font-family: "Capcom", monospace;
  font-size: 3rem;
  border: 3px solid #ff1adf;
  padding: 8px;
}

.introducao ul {
  display: flex;
  gap: 0px 24px;
}

.introducao ul li {
  font-family: "VCR OSD Mono";
  text-shadow: 3px 3px #000;
  color: rgb(84, 255, 26);
  font-size: 1.2rem;
}

.logo {
  display: flex;
  gap: 0 12px;
  align-items: center;
}

.logo span {
  font-size: 2.6rem;
  font-family: "Capcom", monospace;
  text-shadow: 3px 3px #551a8b;
}
