body {
  background: rgb(14, 15, 15);
  display: grid;
  grid-template-rows: 100px 1fr;
}

.introducao-bg {
  display: grid;
  background: rgb(17, 17, 17);
}

.introducao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1em;
  color: var(--color-p0);
  justify-self: center;
  text-align: center;
  align-self: center;
}

.introducao h1 {
  text-shadow: 3px 3px var(--color-pl0);
  border: 3px solid var(--color-p0);
  padding: 8px;
}

.introducao ul {
  display: flex;
  gap: 0px 24px;
}

.introducao ul li {
  text-shadow: 3px 3px var(--color-12);
  color: var(--color-g0);
}

.logo {
  display: flex;
  gap: 0 12px;
  align-items: center;
}

.logo span {
  text-shadow: 3px 3px var(--color-pl0);
}
