.bgPecas {
  width: max-content;
  border-radius: 50px;
  position: relative;
  justify-self: center;
}

.initBtn {
  background: none;
  border: 1px solid var(--color-0);
  color: var(--color-0);
  padding: 0.3em 0.8em;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.initBtn:hover {
  border-color: var(--color-p0);
}

.initBtn.userInitGame {
  pointer-events: none;
  user-select: none;
}

.genius {
  display: grid;
  grid-template-rows: 3em 1fr;
  padding-top: 2em;
  gap: 2em 0px;
  color: var(--color-0);
}

.genius-text {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pecas {
  display: grid;
  grid-template-columns: repeat(2, 12em);
  justify-items: center;
}

.colorContainer {
  width: 12em;
  height: 12em;
  border: 0.5em solid var(--color-9);
  cursor: pointer;
}

.circleGenius {
  position: absolute;
  top: 7em;
  left: 7em;
  background: #291f2c;
  border-radius: 25rem;
  width: 10em;
  height: 10em;
  border: 1.2em solid var(--color-9);
}

.circleGenius h1 {
  padding-top: 2em;
  text-align: center;
}

.circleGenius span {
  display: block;
  text-align: center;
  margin-top: 0.8em;
}

.red {
  border-top-right-radius: 100%;
  background: #7f0c12;
}

.blue {
  border-top-left-radius: 100%;
  background: #073b72;
}

.green {
  border-bottom-right-radius: 100%;
  background: #00863b;
}

.yellow {
  border-bottom-left-radius: 100%;
  background: #a38606;
}

.genius.proxRound .colorContainer {
  pointer-events: none;
  user-select: none;
}

.blue.change,
.blue.current {
  background: linear-gradient(#073b72, #086dd8);
}

.red.change,
.red.current {
  background: linear-gradient(#7f0c12, #e92c35);
}

.green.change,
.green.current {
  background: linear-gradient(#00863b, #03da60);
}

.yellow.change,
.yellow.current {
  background: linear-gradient(#a38606, #f0c504);
}

@media (max-width: 600px) {
  .pecas {
    grid-template-columns: repeat(2, 8em);
  }
  .colorContainer {
    width: 8em;
    height: 8em;
    cursor: none;
  }
  .circleGenius {
    top: 4.5em;
    left: 4.5em;
    width: 7em;
    height: 7em;
  }
  .circleGenius h1 {
    font-size: 1rem;
    padding-top: 1.5em;
  }
  .circleGenius span {
    margin-top: 0.5em;
  }
}
