.content {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.cards {
  display: grid;
  grid-template-rows: 5em 1fr;
  color: var(--color-0);
}

.cards-text {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  text-shadow: 3px 3px var(--color-pl0);
  margin-top: 20px;
}

.cards-text .resetMemory {
  color: var(--color-0);
  text-shadow: 2px 2px var(--color-pl0);
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.cards-text .extras {
  display: flex;
  gap: 0px 100px;
}

.cards-text .extras div {
  padding: 5px 12px;
  text-align: center;
}

.cards ul {
  display: grid;
  padding-top: 50px;
  justify-content: center;
  grid-template-columns: repeat(4, 9em);
  grid-template-rows: repeat(3, 5em);
  justify-items: center;
  gap: 30px 0px;
}

.cards img {
  opacity: 0;
  width: 80px;
  padding: 15px;
  -webkit-user-drag: none;
  height: 80px;
  object-fit: contain;
}

.cards li {
  align-self: start;
  background: whitesmoke;
  border-radius: 50%;
  cursor: pointer;
}

.cards li.showCard img {
  opacity: 1;
  transition: 0.2s;
}

.cards li.desativeCard {
  pointer-events: none;
  user-select: none;
}

.cards li.correctCard {
  transition: all 0.3s linear;
  background: rgb(46, 45, 45);
  pointer-events: none;
  user-select: none;
}

.cards li.correctCard img {
  opacity: 1;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.correctCard {
  pointer-events: none;
  user-select: none;
}
