#naveGame {
  height: 100vh;
}

.backgroundGame {
  background-image: url("../../imgs/gameImgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "VCR OSD Mono", "Capcom", "Press Start 2P", monospace;
  height: 100vh;
}

.initGame {
  position: absolute;
  z-index: 2000;
  background: rgba(255, 255, 255, 0.075);
  margin-top: 15px;
}

.initGame h1 {
  margin-bottom: 12px;
}

.initGame .teclas {
  margin-top: 12px;
}

.initGame p {
  margin-bottom: 10px;
}

.initGame button {
  margin-top: 12px;
  background: #cc00af;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.initGame button:hover {
  background: #a00288;
}

.initGame.close {
  display: none;
}

.initGame span {
  display: block;
  margin-top: 5px;
}

.contentQuantCoin {
  display: flex;
  right: 10px;
  top: 10px;
  position: absolute;
  gap: 0px 12px;
  align-items: center;
}

.contentQuantCoin img {
  width: 1em;
  height: 1em;
}

.screenGame {
  position: relative;
  height: 20em;
}

.airPlayer {
  display: flex;
  align-items: center;
  width: 34px;
  height: 34px;
  position: absolute;
}

.fire {
  display: inline-block;
  width: 5px;
  height: 2px;
  background: red;
  position: absolute;
}

.alienEnemy {
  width: 34px;
  height: 34px;
  position: absolute;
  transition: 0.3s;
}

.drone {
  width: 24px;
  height: 24px;
  position: absolute;
  transition: 0.3s;
  animation: moveDrone 2s ease-in-out infinite;
  animation-direction: alternate;
}

@keyframes moveDrone {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(0px, 10px, 0px);
  }
}

.bomba {
  display: none;
  width: 34px;
  height: 34px;
  position: absolute;
  transition: 0.3s;
}

.coin {
  width: 24px;
  height: 24px;
  position: absolute;
}

.gameOver {
  display: none;
}

.gameOver.active {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2000;
}

.gameOver h1 {
  color: var(--color-0);
  text-shadow: 3px 3px var(--color-12);
  margin-top: 20px;
  align-self: center;
  font-size: 3rem;
  margin-bottom: 10px;
}

.gameOver p {
  color: var(--color-0);
  margin-bottom: 15px;
  text-shadow: 1px 1px var(--color-12);
}

#naveGame .reset {
  background: rgb(22 22 22 / 24%);
}

/* Mobile */

.mobileInformation {
  display: none;
}
#joystickGun {
  display: none;
}

body.mobileUser .backgroundGame {
  height: 100vh;
}
body.mobileUser .mobile {
  width: 100%;
  height: 100%;
  position: absolute;
}

body.mobileUser .screenGame {
  display: grid;
}

body.mobileUser .mobileInformation {
  display: none;
  justify-items: center;
  position: absolute;
  text-align: center;
  justify-self: center;
  top: 1em;
}

body.mobileUser .mobileInformation p {
  font-size: 1.2rem;
  margin-bottom: 0.8em;
}

body.mobileUser .mobileInformation .fullscreen-content {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1em 1em;
  gap: 0.5em 1em;
  width: max-content;
  padding-left: 8px;
}

body.mobileUser .mobileInformation .fullscreen {
  display: block;
  width: 4px;
  height: 9px;
  background: var(--color-p0);
}

body.mobileUser .fullscreen:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4.5px;
  background: var(--color-p0);
  margin-left: 4px;
  margin-top: 4.5px;
}

body.mobileUser .fullscreen:nth-child(1):after,
body.mobileUser .fullscreen:nth-child(2):after {
  margin-bottom: 9px;
  margin-top: 0px;
}

body.mobileUser .fullscreen:nth-child(3):after,
body.mobileUser .fullscreen:nth-child(4):after {
  margin-bottom: 4.5px;
  margin-top: 0px;
}

body.mobileUser .fullscreen:nth-child(2):after,
body.mobileUser .fullscreen:nth-child(4):after {
  margin-left: -8px;
}

body.mobileUser .mobileInformation.mobileOn {
  display: grid;
}

body.mobileUser .mobileInformation.mobileOff {
  display: none;
}

body.mobileUser .initGame.removeScreen {
  display: none;
}

body.mobileUser #joystick,
body.mobileUser #joystickGun {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid var(--color-12);
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  margin-top: 200px;
}

body.mobileUser #joystick {
  left: 20px;
}

body.mobileUser #stick {
  width: 70px;
  height: 70px;
  background: var(--color-12);
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: 14px;
}

body.mobileUser #joystickGun {
  right: 20px;
  background: #00000018;
}

body.mobileUser #joystickGun:active {
  background: #0000003d;
}

body.mobileUser #stickGun {
  width: 4em;
  position: absolute;
  bottom: 50%;
  transform: translate(18px, 10px) scaleX(-1) rotate(-28deg);
}

body.mobileUser .content {
  grid-template-columns: 1fr;
}

body.mobileUser .sidebar {
  display: none;
}

body.mobileUser #joystick,
body.mobileUser #joystickGun {
  pointer-events: none;
}

body.mobileUser .mobile.initMobileGame #joystick,
body.mobileUser .mobile.initMobileGame #joystickGun {
  pointer-events: all;
}
