#termosBody .reset {
  top: 3em;
  background: rgba(22, 22, 22, 0.72);
}

#termosBody .reset p {
  text-align: center;
  margin-bottom: 1em;
}

#termosBody .reset span {
  display: block;
  text-align: center;
  margin-bottom: 1.2em;
}

.termos {
  display: grid;
  font-family: "VCR OSD Mono", "Capcom", "Press Start 2P", monospace;
  grid-template-rows: max-content max-content;
  margin: 0 auto;
  padding-top: 10px;
  color: var(--color-0);
}

.termosText {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.termosText div {
  text-align: center;
}

.blocos {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-self: center;
  padding: 1em 0em;
}

.blocos-item {
  display: flex;
  justify-items: center;
  gap: 12px;
}

.blocos-item li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background: var(--color-9);
  width: 55px;
  height: 55px;
  margin-top: 12px;
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
}

.blocos-item li.wrongPlaceLetter {
  background: #ab9600;
}

.blocos-item li.correct {
  background: #008000;
}

.letras {
  justify-content: center;
}

.letras div {
  display: grid;
  grid-template-columns: repeat(31, 1fr);
  justify-content: center;
  gap: 12px;
  margin-bottom: 15px;
}

.letras button {
  justify-content: center;
  display: flex;
  align-items: center;
  grid-column: span 3;
  font-family: "VCR OSD Mono";
  color: var(--color-0);
  background: #93929218;
  border: none;
  line-height: 2.5em;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.letras button.desativeLetter {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.letras button.wrongLetter {
  background: rgba(100, 100, 100, 5%);
}

#k_enter,
#k_del {
  background: #555555ce;
}

#k_enter {
  grid-column: span 4;
}

#k_del {
  grid-column: span 2;
  padding: 0px 5px;
  font-size: 0.7em;
}

li[data-select="true"] {
  position: relative;
}

li[data-select="true"]::before {
  content: "";
  display: inline-block;
  width: 2em;
  height: 0.1em;
  position: absolute;
  color: var(--color-0);
  background: rgb(255, 255, 255);
  bottom: 10px;
}

.complet li {
  user-select: none;
  pointer-events: none;
}

.helpModal ul li:nth-child(3) span {
  background: #008000;
}

.helpModal ul li:nth-child(4) span {
  background: #ab9600;
}

@media (max-width: 1010px) {
  .blocos {
    margin-bottom: 0.3em;
  }
  #termosBody .content {
    display: block;
    grid-template-columns: 1fr;
  }
  #termosBody .sidebar {
    display: none;
  }
}

@media (max-width: 900px) {
  #termosBody {
    overflow-x: hidden;
  }
}

@media (max-width: 800px) {
  .termos {
    gap: 1em 0em;
  }

  .blocos {
    display: flex;
    width: auto;
    flex-direction: column;
    margin-bottom: 0.3em;
    height: 100%;
    justify-self: center;
    max-width: 100%;
    min-height: 0;
    min-width: 0;
    touch-action: manipulation;
  }

  .letras {
    padding: 0em 0.5em;
  }

  li[data-select="true"]::before {
    width: 1em;
  }

  .termosText {
    flex-direction: column;
    justify-content: center;
    gap: 12px 0px;
  }

  #k_del,
  #k_enter {
    font-size: 0.8rem;
  }

  #k_del {
    grid-column: span 3;
  }

  #k_enter {
    grid-column: span 4;
  }
}

@media (max-width: 600px) {
  .termos {
    display: grid;
    gap: 1em;
    padding: 2em 0;
  }

  .blocos {
    gap: 0em;
    padding: 0em;
  }

  .blocos-item {
    gap: 0.5em;
  }

  .letras div {
    grid-template-columns: repeat(32, 1fr);
    gap: 0.25em;
  }

  .letras button {
    padding: 0px;
    grid-column: span 3;
    font-size: 1rem;
    line-height: 2.5em;
  }

  #k_enter {
    grid-column: span 8;
  }

  .letras #k_del {
    grid-column: span 4;
  }
}
